# Ansible project .gitignore

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.vscode/
/*venv/
.env/
ENV/

# Ansible facts cache and logs
.fact_cache/
.ansible/
*.log

# Secrets and vault files
*.vault
*.secret
*.key
*.pem
*.crt
*.j2~
*.conf

# Inventory and host_vars/group_vars backups
inventory/hosts
inventory/*/env.yml

# Temporary files
*.swp
*.swo
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

/files/
# res/
tests/

# Files in roles that shouldn't be tracked
roles/*/.retry
roles/*/.cache
# roles/*/files/
# roles/*/templates/
# roles/*/vars/
# roles/*/defaults/
roles/*/meta/
roles/*/handlers/
# roles/*/tasks/
roles/*/inventory/
