- name: Create directory for Elasticsearch certificates
  ansible.builtin.file:
    path: /etc/elasticsearch/certs
    state: directory
    mode: "0750"
    owner: "root"
    group: "elasticsearch"

- name: Copy all required Elasticsearch certificates
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/elasticsearch/certs/{{ item | basename }}"
    owner: "root"
    group: "elasticsearch"
    mode: "0660"
  with_fileglob:
    - "../files/certs/elasticsearch/*"

- name: Create directory for Elasticsearch systemd service overrides
  ansible.builtin.file:
    path: /etc/systemd/system/elasticsearch.service.d
    state: directory
    mode: '0755'

- name: Create override.conf file with LimitMEMLOCK setting
  ansible.builtin.copy:
    dest: /etc/systemd/system/elasticsearch.service.d/override.conf
    content: |
      [Service]
      LimitMEMLOCK=infinity
    mode: '0644'
  register: override_memlock

- name: Reload systemd daemon to apply override_memlock
  when: override_memlock.changed
  ansible.builtin.systemd:
    daemon_reload: true
  # noqa: no-handler

- name: Backup elasticsearch configuration files 
  ansible.builtin.include_role:
    name: common
    tasks_from: backup
  loop:
    - /etc/elasticsearch/elasticsearch.yml
    - /etc/elasticsearch/elasticsearch.keystore
  loop_control:
    loop_var: file

# - debug:
#     var: es_cert_p31

- name: Updating elasticsearch keystore passwords
  ansible.builtin.include_tasks: keystore_update.yml
  loop:
    - xpack.security.http.ssl.keystore.secure_password
    - xpack.security.transport.ssl.keystore.secure_password
    - xpack.security.transport.ssl.truststore.secure_password

# - name: Add keystore passwords to elasticsearch
#   ansible.builtin.shell: echo "{{ es_cert_p31 }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add -fx "{{ item }}"
#   loop:
#     - xpack.security.http.ssl.keystore.secure_password
#     - xpack.security.transport.ssl.keystore.secure_password
#     - xpack.security.transport.ssl.truststore.secure_password
#   changed_when: true

- name: Generate elasticsearch.yml from template
  register: es_yml_generated
  ansible.builtin.template:
    src: elasticsearch.yml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: root
    group: elasticsearch
    mode: "0660"

- name: Restart Elasticsearch service
  when: es_yml_generated.changed or (keystore_updated | default(false))
  ansible.builtin.service:
    name: elasticsearch
    state: restarted
    enabled: true

- name: Read password from /root/.env
  ansible.builtin.command:
    cmd: cat /root/.env
  register: env_file
  changed_when: false

- name: Set ELASTIC_PASSWORD fact
  ansible.builtin.set_fact:
    elastic_password: "{{ env_file.stdout | regex_search('ELASTIC_PASSWORD=\"(.+)\"', '\\1') | first | trim }}"
- debug:
    var: elastic_password
- name: Check who is master node
  ansible.builtin.uri:
    url: "https://localhost:9200"
    method: GET
    user: "elastic"
    password: "{{ elastic_password }}"
    validate_certs: false
    status_code: [200,401]
  register: whos_master_node
  retries: 30
  delay: 2
  until: whos_master_node.status in [200,401]

- name: Copy .env from master node
  when: whos_master_node.status == 200
  ansible.builtin.include_role:
    name: common
    tasks_from: env_fetch

- name: Copy .env to non-master nodes
  when: whos_master_node.status == 401
  ansible.builtin.copy:
    src: "{{ FILES_DIR }}/.env"
    dest: /root/.env
    mode: '0600'
