- name: Get keystore value for {{ item }}
  ansible.builtin.command:
    cmd: /usr/share/elasticsearch/bin/elasticsearch-keystore show "{{ item }}"
  register: keystore_value
  changed_when: false

- name: Set new keystore value for {{ item }}
  when: keystore_value.stdout != es_cert_p31
  ansible.builtin.shell: echo "{{ es_cert_p31 }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add -fx "{{ item }}"
  changed_when: true

- name: Set keystore_updated fact
  when: keystore_value.stdout != es_cert_p31
  ansible.builtin.set_fact:
    keystore_updated: true