# - name: Copy Elastic Agent from Packages
#   ansible.builtin.include_role:
#     name: common
#     tasks_from: pkg_copy
#   vars:
#     pkg_file: "elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64.tar.gz"
#     pkg_hash: "elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64.tar.gz.sha512"
#     hash_cmd: sha512sum

# - name: Extract Elastic Agent .tar.gz file
#   ansible.builtin.unarchive:
#     src: /opt/packages/elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64.tar.gz
#     dest: /opt/packages/
#     remote_src: true
#     mode: '0755'
# - name: Elastic Agent Package Extract
#   ansible.builtin.include_role:
#     name: common
#     tasks_from: pkg_extract
#   vars:
#     pkg_target_dir: "/opt/packages/elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64"
#     pkg_zip_path: "/opt/packages/elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64.tar.gz"
#     pkg_dst_dir: /opt/packages/

- name: Create directory for Fleet Certificates
  ansible.builtin.file:
    path: /etc/fleet/certs
    state: directory
    mode: "0755"
    owner: "root"
    group: "root"

- name: Copy all required Fleet certificates
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/fleet/certs/{{ item | basename }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_fileglob:
    - "{{ FILES_DIR }}/certs/fleet/*"

- name: Read .env file
  ansible.builtin.command:
    cmd: cat /root/.env
  register: env_file
  changed_when: false

- name: Set fs_token fact
  when: env_file.stdout is search('FS_TOKEN=')
  ansible.builtin.set_fact:
    fs_token: "{{ env_file.stdout | regex_search('FS_TOKEN=\"(.+)\"', '\\1') | first | trim }}"

- debug:
    var: fs_token

- name: Install Fleet Server
  ansible.builtin.command: >
    ./elastic-agent install -n
    --url=https://"{{ ansible_hostname }}.{{ ansible_domain }}":8220
    --fleet-server-es=https://{{ siem_url }}:{{ lb_es_port | default('9200') }}
    --fleet-server-service-token={{ fs_token }}
    --fleet-server-policy={{ fs_policy_id | default('fleet-server-policy') }}
    --certificate-authorities=/etc/fleet/certs/ca.pem
    --fleet-server-es-ca=/etc/fleet/certs/ca.pem
    --fleet-server-cert=/etc/fleet/certs/fleet.pem
    --fleet-server-cert-key=/etc/fleet/certs/fleet.key
    --fleet-server-port=8220
  args:
    chdir: /opt/packages/elastic-agent-{{ efk_ver | default('8.16.1') }}-linux-x86_64
  changed_when: true

