- name: Init Nftables
  ansible.builtin.include_role:
    name: common
    tasks_from: nftables
  vars:
    nft_rules: [
      {"proto": "tcp", "ports": "8220", "saddr": "@net_locals", "desc": "fleet"}
    ]
