- name: Ensure {{ dir_path }} exist
  ansible.builtin.include_role:
    name: common
    tasks_from: mkdir
  vars:
    dir_path: "{{ mount_data.0 }}"
    dir_parent: "{{ mount_data.0 | dirname }}"
  
- name: Create {{ mount_data.1 }}
  ansible.builtin.file:
    path: "{{ mount_data.1 }}"
    state: directory

- name: Add {{ dir_parent }} to fsdb
  when: dir_parent not in fsdb
  ansible.builtin.include_tasks: fsdb_add.yml
  vars:
    dir_parent: "{{ mount_data.0 | dirname }}"

- name: "Set fact mount_opts for {{ mount_data.0 }}"
  when: fsdb.get(dir_parent, 'local') == 'fuse.glusterfs'  
  ansible.builtin.set_fact:
    mount_opts: "bind,_netdev,x-systemd.requires=glusterd.service,x-systemd.after=glusterd.service"
  vars:
    dir_path: "{{ mount_data.0 }}"
    dir_parent: "{{ mount_data.0 | dirname }}"

- name: Bind mount {{ mount_data.1 }} to {{ mount_data.0 }}
  ansible.posix.mount:
    path: "{{ mount_data.1 }}"
    src: "{{ mount_data.0 }}"
    fstype: none
    opts: "{{ mount_opts | default('bind') }}"
    state: mounted
