---
- name: Deploy EFK Stack
  hosts: all
  become: true
  any_errors_fatal: true
  tasks:
    # - name: Update Packages
    #   ansible.builtin.include_role:
    #     name: apt_update
    - name: Push Trust CA
      ansible.builtin.include_role:
        name: trust_ca_push
    - name: Deploy Nftables
      when: enable_nftables | default(false) | bool
      ansible.builtin.include_role:
        name: nftables

    # - name: Deploy Load Balancer
    #   when: "'lb' in group_names"
    #   block:
    #     - name: Install Load Balancer
    #       ansible.builtin.include_role:
    #         name: lb_install
    #     - name: Initialize Load Balancer
    #       ansible.builtin.include_role:
    #         name: lb_init

    # - name: Stop Kibana
    #   when: "'kbn' in group_names"
    #   block:
    #     - name: Stop Kibana Service
    #       ansible.builtin.include_role:
    #         name: kibana_stop
    # - name: Copy .env to all nodes
    #   ansible.builtin.copy:
    #     src: "{{ FILES_DIR }}/.env"
    #     dest: /root/.env
    #     mode: '0600'

    - name: Init disk
      when: "'es' in group_names"
      ansible.builtin.include_role:
        name: common
        tasks_from: disk

    - name: Deploy Elasticsearch
      when: "'es' in group_names"
      ansible.builtin.include_role:
        name: es
    
    - name: Deploy Kibana
      when: "'kbn' in group_names"
      ansible.builtin.include_role:
        name: kibana
    
    - name: Deploy Load Balancer
      when: "'lb' in group_names"
      ansible.builtin.include_role:
        name: lb
    
    - name: Copy .env to all nodes
      ansible.builtin.copy:
        src: "{{ FILES_DIR }}/.env"
        dest: /root/.env
        mode: '0600'

    - name: Push Elastic Agent
      ansible.builtin.include_role:
        name: ea
        tasks_from: push

    - name: Deploy Fleet
      when: "'fs' in group_names"
      ansible.builtin.include_role:
        name: fleet

    
    # - name: Test
    #   when: inventory_hostname == groups['kbn'][0]
    #   ansible.builtin.include_role:
    #     name: kibana
    #     tasks_from: api_init

    # - name: Deploy Elasticsearch
    #   when: "'es' in group_names"
    #   block:
    #     - name: Init disk
    #       ansible.builtin.include_role:
    #         name: common
    #         tasks_from: disk
        # - name: Initialize Disk for Data
        #   ansible.builtin.include_role:
        #     name: disk_init
        # - name: Remove Elasticsearch
        #   ansible.builtin.include_role:
        #     name: es_remove
        # - name: Install Elasticsearch
        #   ansible.builtin.include_role:
        #     name: es_install
        # - name: Initialize Elasticsearch
        #   ansible.builtin.include_role:
        #     name: es_init

    # - name: Deploy Kibana
    #   when: "'kbn' in group_names"
    #   block:
    #     - name: Install Kibana
    #       ansible.builtin.include_role:
    #         name: kibana_install
    #     - name: Initialize Kibana
    #       ansible.builtin.include_role:
    #         name: kibana_init

    # - name: Push elastic agent installer
    #   ansible.builtin.include_role:
    #     name: ea_push

    # - name: Prepare Fleet Server
    #   when:
    #     - "'es' in group_names"
    #     - nodeinit | default(false) | bool
    #   block:
    #     - name: Prepare fleet items
    #       ansible.builtin.include_role:
    #         name: fleet_prep

    # - name: Deploy Fleet Server
    #   when: "'fs' in group_names"
    #   block:
    #     - name: Prepare fleet items
    #       ansible.builtin.include_role:
    #         name: fleet_install
