network.host: "0.0.0.0"
network.publish_host: "{{ ansible_hostname }}.{{ ansible_domain }}"
node.name: "{{ ansible_hostname }}.{{ ansible_domain }}"
cluster.name: "{{ es_cluster | default('efk-elastics') }}"

cluster.initial_master_nodes:
{% for host in groups['es'] %}
  - "{{ hostvars[host]['ansible_hostname'] }}.{{ hostvars[host]['ansible_domain'] }}"
{% endfor %}
discovery.seed_hosts:
{% for host in groups['es'] %}
  - "{{ hostvars[host]['ansible_hostname'] }}.{{ hostvars[host]['ansible_domain'] }}"
{% endfor %}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

bootstrap.memory_lock: true

xpack.security.enabled: true
xpack.security.enrollment.enabled: true
xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12